        *{
            box-sizing: border-box;
            margin: 0;
        }
        body{
            width: 100%;
            height: 100vh;
            font-family: sans-serif;
            font-size: 15px;
            line-height: 25px;
        }
        .container{
            margin-top: 40px;
            width: 60%;
            margin-left: 20%;
            border: 1px solid #dddddd;
            padding: 10px;
            border-radius: 10px;
        }
        .profile-name{
            display: flex;
            background-color: #dddddd;
            height: 25px;
            justify-content: space-between;
            margin-top: 10px;
            border-radius: 10px;
        }
        .head h1{
            margin-top: 3%;
        }
        .early_life{
            margin-top: 3%;
        }
        .education_History{
            margin-top: 3%;
        }

        .Employment_History{
            margin-top: 3%;
        }
        .name{
            margin-left: 10px;
        }
        .name:hover{
            color: blue;
            cursor: pointer;
        }
        .view,button:hover{
            color: blue;
            cursor: pointer;
        }
        .view{
            margin-right: 60px;
        }
        .profile_info{
            display: flex;
            width: 420px;
            justify-content: space-around;
            margin-top: 1%;
        }
        table{
            border-collapse: collapse;
            width: 100%;
        }
        table td,th{
            border: 1px solid #dddddd;
            padding: 8px;
        }
        table th{
            border-bottom: 2px solid rgb(79, 104, 247);

        }
        .empt{
            margin-top: 5%;
            padding-bottom: 5%;
        }
        .border{
            border: 2px solid #063be9;
            margin-top: 2%;
            margin-left: 20%;
            margin-right: 20%;
            border-radius: 10px;
        }
        .footer{
            margin-left: 20%;
            margin-top: 1%;
        }
        @media only screen and (max-width: 767px) {
     .container{
            margin-top: 40px;
            width: 85%;
            
            border: 1px solid #dddddd;
            padding: 10px;
            border-radius: 10px;
            margin-left: 20px;
        }
        .profile_info{
            display: flex;
            width: 98%;
            justify-content: space-around;
            margin-top: 1%;
        }
        .image img{
            width: 100px;
            height: 100px;
        }
        table td,th{
            border: 1px solid #dddddd;
            padding: 3px;
        }
        .education_History{
           width: 90%;
            margin-top: 3%;
            overflow-x: auto;
        }
        .Employment_History{
            width: 90%;
            margin-top: 3%;
            overflow-x: auto;
        }
}

       